@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  
    font-style: normal;
}

header{
    width: 100%;
    height: 92px;
    background-color: #412567;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}
.logo h1{
    color: white;
    width: 219px;
    font-size: 32px;
}
.wave{
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    background-clip: text;
    color: transparent;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.header-btn{
    width: 135px;
    height: 44px;
    border-radius: 100px;
    border: none;
    background-image: linear-gradient(45deg,#F7E93F,#FB09B4,#9100F8);
    font-weight: 600;
    color: white;
    font-size: 16px;
}
/* hero section */
.banner{
    width: 100%;
    height: 100vh;
    background-image: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content{
    width: 550px;
    height: 500px;
    /* border: 2px solid white; */
    margin: auto;
    position: relative;

}

.badge{
    position: absolute;
    z-index: 999;
    width: 75px;
    height: 38px;
    background-color: #00FF88;
    right: 120px;
    top: 20%;
    border: none;
    border-radius: 100px;
    font-weight: bold;
}


.content-img{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.microphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.test-n-btn{
    text-align: center;
    color: white;

}

.test-n-btn h1{
    font-size: 72px;

}
.btn-group{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn-group button{
    
    width: 200px;
    height: 40px;
    margin-top: 15px;
    border-radius: 100px;
    border: none;
  
}

.btn-group button:first-child{
    background-image: linear-gradient(45deg,#F7E93F,#FB09B4,#9100F8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0;
}

.btn-group button:last-child{
    border: 2px solid #00FF88;
    background-color: transparent;
    color: #00FF88;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* podcast section */
.podcast-section{
    width: 100%;
    background-color: #1A0B2E;
    text-align: center;
    padding: 50px 0;
    color: white;
}

.content-header{
    width: 60%;
    margin: 0 auto;
}

.content-header h1{
    font-size: 48px;
    font-weight: bold;
}
.content-header p{
    line-height: 30px;
}

.card-body{
    width: 80%;
    margin: 100px auto 50px;
    display: flex;
    justify-content: space-between;
}
.card-item{
    width: 240px;
    height: 95px;
}

.card-item h1{
    color: #00FF88;
    font-size: 48px;
}

.card-item span{
    color: #FFFFFF;
    font-size: 16px;
}


