@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header{
    width: 100%;
    height: 92px;
    background-color: #412567;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}
.logo h1{
    color: white;
    width: 219px;
    font-size: 32px;
}
.wave{
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    background-clip: text;
    color: transparent;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.header-btn{
    width: 135px;
    height: 44px;
    border-radius: 100px;
    border: none;
    background-image: linear-gradient(45deg,#F7E93F,#FB09B4,#9100F8);
    font-weight: 600;
    color: white;
    font-size: 16px;
}

.hamburfer-btn{
    display: none;
}
/* hero section */
.banner{
    width: 100%;
    height: 100vh;
    background-image: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content{
    width: 550px;
    height: 500px;
    /* border: 2px solid white; */
    margin: auto;
    position: relative;

}

.badge{
    position: absolute;
    z-index: 999;
    width: 75px;
    height: 38px;
    background-color: #00FF88;
    right: 120px;
    top: 20%;
    border: none;
    border-radius: 100px;
    font-weight: bold;
}


.content-img{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.microphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.test-n-btn{
    text-align: center;
    color: white;

}

.test-n-btn h1{
    font-size: 72px;

}
.btn-group{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn-group button{
    
    width: 200px;
    height: 40px;
    margin-top: 15px;
    border-radius: 100px;
    border: none;
  
}

.btn-group button:first-child{
    background-image: linear-gradient(45deg,#F7E93F,#FB09B4,#9100F8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0;
}

.btn-group button:last-child{
    border: 2px solid #00FF88;
    background-color: transparent;
    color: #00FF88;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* podcast section */
.podcast-section{
    width: 100%;
    background-color: #1A0B2E;
    text-align: center;
    padding: 50px 0;
    color: white;
}

.content-header{
    width: 60%;
    margin: 0 auto;
}

.content-header h1{
    font-size: 48px;
    font-weight: bold;
}
.content-header p{
    line-height: 30px;
}

.card-body{
    width: 80%;
    margin: 100px auto 50px;
    display: flex;
    justify-content: space-between;
}
.card-item{
    width: 240px;
    height: 95px;
}

.card-item h1{
    color: #00FF88;
    font-size: 48px;
}

.card-item span{
    color: #FFFFFF;
    font-size: 16px;
}

/* choose-techwave  */
.choose-techwave{
    width: 100%;
    
    background-color: #230E3D;
    padding: 120px 200px;
}

.choose-techwave-title{
    text-align: center;
    font-size: 48px;
    color: white;
    margin-bottom: 15px;
}

.container{
    width: 100%;
    /* height: 600px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
}

.container div{
    background-color: #2D0F4A;
    border-radius: 15px;
    font-size: 48px;
    color: white;
}



.card-item1{
    grid-row: 1/3;
}

.card-item2, .card-item3{
    grid-column: 2/-1;
}

.card-item4{
    grid-column: 1/-2;
}

.card-title{
    font-size: 24px;
    margin: 8px 0;
}

.card-description{
    font-size: 16px;
    margin: 8px 0;
}

.aling{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.card-img{
    width: 60px;
    height: 60px;
}

/* feature and host */

.feature-host{
    width: 100%;
    padding: 120px 200px;
    background-color: #1c0b2c;
}

.fearute-title{
    text-align: center;
    color: white;
    font-size: 48px;
    margin-bottom: 15px;
}
.feature-card{
    display: flex;
    justify-content: space-between;
}
.feature-card-item{
    width: 32%;
    min-height: 300px;
    background-color: #2D0F4A;
    border-radius: 15px;
    /* border: 2px solid white; */
    overflow: hidden;
}
.feature-content{
    padding: 18px;
}
.feature-content h4{
    font-size: 20px;
    color: white;
    margin-bottom: 4px;
}
.feature-content p{
    font-size: 16px;
    color: white;
    margin-top: 4px;
}

.feature-content span{
    color: #00ff95;
}

.host-fearute-title{
    color: white;
    font-size: 48px;
    text-align: center;
    margin: 120px 0 40px;
}

.host-card{
    width: 100%;
    min-height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    background-color: #2D0F4A;
    border-radius: 15px;
    padding: 35px 20px;
    
}

.host-info{
    color: #FFFFFF;
}

.host-info h3{
    font-size: 32px;
}
.host-info p{
    font-size: 18px;
    line-height: 25px;
    margin: 12px 0;
    margin-bottom: 50px;
}

.social-icon-group a{
    border: 2px solid plum;
    border-radius: 50%;
    padding: 20px;
    width: 20px;
    height: 20px;
    margin: 5px;

}
.social-icon-group img{
    width: 20px;
    height: 20px;
    width: auto;
    line-height: 20px;

}

/* footer */
footer{
    width: 100%;
    min-height: 412px;
    background-image: url('../images/footer-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer h1{
    font-size: 72px;
}
.icon-group ul{
    list-style: none;
}

.icon-group ul li{
    display: inline-block;
    margin: 30px 20px;
}

